input{
    border: 3px black solid;
}
#form{
    border: 3px black solid;
    border-radius: 10px; margin-top: 200px;
    font-family: 'Secular One', sans-serif;
    box-shadow: 5px 5px black;
    color: black;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.5)
}
#form:hover{
    box-shadow: 10px 10px black;
    transform: 0.5s;
}
.btn:hover{
    border: 3px solid black;
    font-family: 'Secular One', sans-serif;
    background-color: white;
    color: black;
}
.btn{
    border: 3px solid black;
    font-family: 'Secular One', sans-serif;
    background-color: black;
    color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



body {
    background: #fff;
  }
  
  .title {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
  }
  
  .wrapper {
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #eee;
    height: max-content;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    
  }
  
  @keyframes scroll {
     100%{
      background-position:0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 200s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }